<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock  %}</title>
</head>
<body>
    <header>
        <button type="submit"><a href="/list">Admin</a></button>
        <button type="submit"><a href="/accounts/login">User</a></button>
        <button type="submit"><a href="/accounts/signup">Sign up</a></button>
    </header>
    {% block content %}
    {% endblock  %}
</body>
</html>