<html>
    <head>
        <title>
            HEllo
        </title>
    </head>
    <body>
        HEllo you are registred
        <form action="/accounts/logout/" method="post">
        {%csrf_token%}
        <button type="submit">LOGOUT</button>
        </form>
        <form action="/index/" method="post">
            {%csrf_token%}
            {{form.as_p}}
            <!--<span>Name</span><input type="text" name="name" required>-->
            <!--<span>FROM</span><input type="date" name="check_in" required>-->
            <!--<span>TO</span><input type="date" name="check_out" required>-->
            <!--&lt;!&ndash;<select id = "myList">&ndash;&gt;-->
               <!--<option value = "1">AC</option>-->
               <!--<option value = "2">NON AC</option>-->
             <!--</select>-->
            <button type="submit" >Submit</button>
        </form>
    </body>
</html>